@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --font-main: "Noto Sans", sans-serif;
  --color-main: #000000;
  --color-secondary: #ffffff;
  --color-third: #e12c43;

  /* Font Sizes */
  --fs-h1: 48px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-p: 18px;
}

/* Container utility */
.container {
  @apply max-w-[1200px] mx-auto px-4;
}

/* Typography classes */
.h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
  font-family: var(--font-main);
  color: var(--color-main);
}

.h2 {
  font-size: var(--fs-h2);
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--color-main);
}

.h3 {
  font-size: var(--fs-h3);
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--color-main);
}

.p {
  font-size: var(--fs-p);
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--color-main);
}

.white {
  color: var(--color-secondary);
}

.third {
  color: var(--color-third);
}

.bg-main {
  background-color: var(--color-main);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-third {
  background-color: var(--color-third);
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-up {
  animation: slide-in-up 0.4s ease-out forwards;
}
